<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
namespace QuantitiesDotNet;
using Generic;

<#
(string, string, double)[] scaleTestCases = [
    ("QAcceleration",      "MetrePerSquareSecond", 1.0),
    ("QAcceleration", "MillimetrePerSquareSecond", 1.0e-3),
    ("QAcceleration",  "KilometrePerSquareSecond", 1.0e+3),
    ("QAngle", "Radian", 1.0),
    ("QAngle", "Degree", 2 * Math.PI / 360),
    ("QAngle", "Millidegree", 1e-3 * 2 * Math.PI / 360),
    ("QAngularAcceleration", "RadianPerSquareSecond", 1.0),
    ("QAngularAcceleration", "DegreePerSquareSecond", 2 * Math.PI / 360),
    ("QAngularAcceleration", "MillidegreePerSquareSecond", 1e-3 * 2 * Math.PI / 360),
    ("QAngularVelocity", "RadianPerSecond", 1.0),
    ("QAngularVelocity", "DegreePerSecond", 2 * Math.PI / 360),
    ("QAngularVelocity", "MillidegreePerSecond", 1e-3 * 2 * Math.PI / 360),
    ("QAngularVelocity", "RevolutionPerMinute", 2 * Math.PI / 60),
    ("QArea",      "Metre2", 1.0),
    ("QArea", "Centimetre2", Math.Pow(1e-2, 2)),
    ("QArea", "Millimetre2", Math.Pow(1e-3, 2)),
    ("QArea", "Micrometre2", Math.Pow(1e-6, 2)),
    ("QArea",  "Nanometre2", Math.Pow(1e-9, 2)),
    ("QArea",  "Kilometre2", Math.Pow(1e+3, 2)),
    ("QCatalyticActivity",      "Katal", 1.0),
    ("QCatalyticActivity", "Millikatal", 1e-3),
    ("QCatalyticActivity", "Microkatal", 1e-6),
    ("QCatalyticActivity",  "Nanokatal", 1e-9),
    ("QCatalyticActivity",      "Unit", 1e-6 / 60),
    ("QCatalyticActivity", "Milliunit", 1e-3 * 1e-6 / 60),
    ("QDensity", "KilogramPerCubicMetre", 1.0),
    ("QDensity", "GramPerCubicCentimetre", 1e-3 / Math.Pow(1e-2, 3)),
    ("QDimensionless", "Raw", 1.0),
    ("QElectricCapacity",      "Farad", 1.0),
    ("QElectricCapacity", "Millifarad", 1e-3),
    ("QElectricCapacity", "Microfarad", 1e-6),
    ("QElectricCapacity",  "Nanofarad", 1e-9),
    ("QElectricCapacity",  "Picofarad", 1e-12),
    ("QElectricCharge",      "Coulomb", 1.0),
    ("QElectricCharge", "Millicoulomb", 1e-3),
    ("QElectricCharge", "Microcoulomb", 1e-6),
    ("QElectricCharge",  "Nanocoulomb", 1e-9),
    ("QElectricCharge",  "Picocoulomb", 1e-12),
    ("QElectricCharge",  "Kilocoulomb", 1e+3),
    ("QElectricCharge",      "AmpareHour", 3600),
    ("QElectricCharge", "MilliampareHour", 1e-3 * 3600),
    ("QElectricCharge",  "KiloampareHour", 1e+3 * 3600),
    ("QElectricConductance",      "Siemens", 1.0),
    ("QElectricConductance", "Millisiemens", 1e-3),
    ("QElectricConductance", "Microsiemens", 1e-6),
    ("QElectricConductance",  "Nanosiemens", 1e-9),
    ("QElectricConductivity",      "SiemensPerMetre", 1.0),
    ("QElectricConductivity", "MillisiemensPerMetre", 1e-3),
    ("QElectricConductivity", "MicrosiemensPerMetre", 1e-6),
    ("QElectricConductivity",  "NanosiemensPerMetre", 1e-9),
    ("QElectricConductivity",  "PicosiemensPerMetre", 1e-12),
    ("QElectricCurrent",      "Ampere", 1.0),
    ("QElectricCurrent", "Milliampere", 1e-3),
    ("QElectricCurrent", "Microampere", 1e-6),
    ("QElectricCurrent",  "Nanoampere", 1e-9),
    ("QElectricCurrent",  "Picoampere", 1e-12),
    ("QElectricCurrent",  "Kiloampere", 1e+3),
    ("QElectricFieldStrength",      "VoltPerMetre", 1.0),
    ("QElectricFieldStrength", "MillivoltPerMetre", 1e-3),
    ("QElectricFieldStrength", "MicrovoltPerMetre", 1e-6),
    ("QElectricFieldStrength",  "NanovoltPerMetre", 1e-9),
    ("QElectricFieldStrength",  "KilovoltPerMetre", 1e+3),
    ("QElectricFluxDensity",      "CoulombPerSquareMetre", 1.0),
    ("QElectricFluxDensity", "MillicoulombPerSquareMetre", 1e-3),
    ("QElectricFluxDensity", "MicrocoulombPerSquareMetre", 1e-6),
    ("QElectricFluxDensity",  "NanocoulombPerSquareMetre", 1e-9),
    ("QElectricFluxDensity",  "PicocoulombPerSquareMetre", 1e-12),
    ("QElectricIndactance",      "Henry", 1.0),
    ("QElectricIndactance", "Millihenry", 1e-3),
    ("QElectricIndactance", "Microhenry", 1e-6),
    ("QElectricIndactance",  "Nanohenry", 1e-9),
    ("QElectricIndactance",  "Picohenry", 1e-12),
    ("QElectricResistance",      "Ohm", 1.0),
    ("QElectricResistance", "Milliohm", 1e-3),
    ("QElectricResistance",  "Kiloohm", 1e+3),
    ("QElectricResistance",  "Megaohm", 1e+6),
    ("QElectricResistance",  "Gigaohm", 1e+9),
    ("QElectricVoltage",      "Volt", 1.0),
    ("QElectricVoltage", "Millivolt", 1e-3),
    ("QElectricVoltage", "Microvolt", 1e-6),
    ("QElectricVoltage",  "Kilovolt", 1e+3),
    ("QElectricVoltage",  "Megavolt", 1e+6),
    ("QEnergy",      "Joule", 1.0),
    ("QEnergy", "Millijoule", 1e-3),
    ("QEnergy",  "Kilojoule", 1e+3),
    ("QEnergy",  "Megajoule", 1e+6),
    ("QEnergy",  "Gigajoule", 1e+9),
    ("QEnergy",      "ElectronVolt", 1.602176634e-19),
    ("QEnergy", "MillielectronVolt", 1e-3 * 1.602176634e-19),
    ("QEnergy",  "KiloelectronVolt", 1e+3 * 1.602176634e-19),
    ("QEnergy",  "MegaelectronVolt", 1e+6 * 1.602176634e-19),
    ("QEnergy",  "GigaelectronVolt", 1e+9 * 1.602176634e-19),
    ("QForce",      "Newton", 1.0),
    ("QForce", "Millinewton", 1e-3),
    ("QForce",  "Kilonewton", 1e+3),
    ("QForce",  "Meganewton", 1e+6),
    ("QFrequency",     "Hertz", 1.0),
    ("QFrequency", "Kilohertz", 1e+3),
    ("QFrequency", "Megahertz", 1e+6),
    ("QFrequency", "Gigahertz", 1e+9),
    ("QFrequency", "Terahertz", 1e+12),
    ("QHeatCapacity",      "JoulePerKelvin", 1.0),
    ("QHeatCapacity", "MillijoulePerKelvin", 1e-3),
    ("QHeatCapacity", "MicrojoulePerKelvin", 1e-6),
    ("QHeatCapacity",  "NanojoulePerKelvin", 1e-9),
    ("QHeatCapacity",  "KilojoulePerKelvin", 1e+3),
    ("QHeatCapacity",  "MegajoulePerKelvin", 1e+6),
    ("QHeatCapacity",  "GigajoulePerKelvin", 1e+9),
    ("QLength",      "Metre", 1.0),
    ("QLength", "Centimetre", 1e-2),
    ("QLength", "Millimetre", 1e-3),
    ("QLength", "Micrometre", 1e-6),
    ("QLength",  "Nanometre", 1e-9),
    ("QLength",  "Kilometre", 1e+3),
    ("QLuminance", "CandelaPerSquareMetre", 1.0),
    ("QLuminousFlux", "Lumen", 1.0),
    ("QLuminousIntensity", "Candela", 1.0),
    ("QMagneticFieldStrength",      "AmparePerMetre", 1.0),
    ("QMagneticFieldStrength", "MilliamparePerMetre", 1e-3),
    ("QMagneticFieldStrength",  "KiloamparePerMetre", 1e+3),
    ("QMagneticFlux",      "Weber", 1.0),
    ("QMagneticFlux", "Milliweber", 1e-3),
    ("QMagneticFlux", "Microweber", 1e-6),
    ("QMagneticFlux",  "Nanoweber", 1e-9),
    ("QMagneticFluxDensity",      "Tesla", 1.0),
    ("QMagneticFluxDensity", "Millitesla", 1e-3),
    ("QMagneticFluxDensity", "Microtesla", 1e-6),
    ("QMass",      "Gram", 1e-3),
    ("QMass", "Milligram", 1e-6),
    ("QMass", "Microgram", 1e-9),
    ("QMass", "Kilogram", 1.0),
    ("QMass", "Tonne", 1e+3),
    ("QMassFlowRate",      "GramPerSecond", 1e-3),
    ("QMassFlowRate", "MilligramPerSecond", 1e-6),
    ("QMassFlowRate",  "KilogramPerSecond", 1.0),
    ("QMomentum",      "GramMetrePerSecond", 1e-3),
    ("QMomentum", "MilligramMetrePerSecond", 1e-6),
    ("QMomentum", "MicrogramMetrePerSecond", 1e-9),
    ("QMomentum",      "NewtonSecond", 1.0),
    ("QMomentum", "MillinewtonSecond", 1e-3),
    ("QMomentum",  "KilonewtonSecond", 1e+3),
    ("QPower",      "Watt", 1.0),
    ("QPower", "Milliwatt", 1e-3),
    ("QPower", "Microwatt", 1e-6),
    ("QPower",  "Nanowatt", 1e-9),
    ("QPower",  "Picowatt", 1e-12),
    ("QPower", "Femtowatt", 1e-15),
    ("QPower",  "Kilowatt", 1e+3),
    ("QPower",  "Megawatt", 1e+6),
    ("QPower",  "Gigawatt", 1e+9),
    ("QPower",  "Terawatt", 1e+12),
    ("QPower",  "Petawatt", 1e+15),
    ("QPressure",      "Pascal", 1.0),
    ("QPressure", "Millipascal", 1e-3),
    ("QPressure", "Micropascal", 1e-6),
    ("QPressure",  "Nanopascal", 1e-9),
    ("QPressure", "Hectopascal", 1e+2),
    ("QPressure",  "Kilopascal", 1e+3),
    ("QPressure",  "Megapascal", 1e+6),
    ("QPressure",  "Gigapascal", 1e+9),
    ("QSolidAngle", "Steradian", 1.0),
    ("QSolidAngle", "SquareDegree", Math.Pow(2 * Math.PI / 360, 2)),
    ("QSpatialFrequency", "ReciprocalMetre", 1.0),
    ("QSpatialFrequency", "ReciprocalCentimetre", 1e+2),
    ("QSpatialFrequency", "ReciprocalMillimetre", 1e+3),
    ("QSpatialFrequency", "ReciprocalMicrometre", 1e+6),
    ("QSpatialFrequency",  "ReciprocalNanometre", 1e+9),
    ("QSpatialFrequency",  "ReciprocalKilometre", 1e-3),
    ("QSpecificHeatCapacity",     "JoulePerKilogramPerKelvin", 1.0),
    ("QSpecificHeatCapacity", "KilojoulePerKilogramPerKelvin", 1e+3),
    ("QSpeed", "MetrePerSecond", 1.0),
    ("QSpeed", "MillimetrePerSecond", 1e-3),
    ("QSpeed", "MicrometrePerSecond", 1e-6),
    ("QSpeed",  "NanometrePerSecond", 1e-9),
    ("QSpeed",  "KilometrePerSecond", 1e+3),
    ("QSpeed", "MetrePerMinute", 1.0 / 60),
    ("QSpeed", "KilometrePerHour", 1.0e+3 / 3600),
    ("QSubstanceAmount", "Mole", 1.0),
    ("QSubstanceAmount", "Millimole", 1e-3),
    ("QSubstanceAmount",  "Kilomole", 1e+3),
    ("QTemperature", "Kelvin", 1.0),
    ("QTime", "Second", 1.0),
    ("QTime", "Millisecond", 1e-3),
    ("QTime", "Microsecond", 1e-6),
    ("QTime",  "Nanosecond", 1e-9),
    ("QTime",  "Picosecond", 1e-12),
    ("QTime", "Femtosecond", 1e-15),
    ("QTime", "Minute", 60.0),
    ("QTime", "Hour", 3600.0),
    ("QTorque", "NewtonMetre", 1.0),
    ("QVolume",      "Metre3", 1.0),
    ("QVolume", "Centimetre3", 1e-6),
    ("QVolume", "Litre", 1e-3),
];
#>
public partial class QuantityTest
{
    public static partial TheoryData<object, object> ScaleTestCases_NonGeneric()
    {
        var data = new TheoryData<object, object>();
<#  foreach(var (type, value, expected) in scaleTestCases) { #>
        data.Add(new <#=type#>(<#=expected#>), <#=type#>.From<#=value#>(1.0));
<#  } #>
        return data;
    }

    public static partial TheoryData<object, object> ScaleTestCases_Generic()
    {
        var data = new TheoryData<object, object>();
<#  foreach(var (type, value, expected) in scaleTestCases) { #>
        data.Add(new <#=type#><decimal>(<#=expected#>m), <#=type#><decimal>.From<#=value#>(1.0m));
<#  } #>
        return data;
    }
}


<#
DimensionMetadata[] metadataTestCases = [
    new ("Acceleration", L: +1, M: 0, T: -2),
    new ("Angle", L: 0, M: 0, T: 0),
    new ("AngularAcceleration", L: 0, M: 0, T: -2),
    new ("AngularVelocity", L: 0, M: 0, T: -1),
    new ("Area", L: +2, M: 0, T: 0),
    new ("CatalyticActivity", L: 0, M: 0, T: -1, N: +1),
    new ("Density", L: -3, M: +1, T: 0),
    new ("Dimensionless"),
    new ("ElectricCapacity", L: -2, M: -1, T: +4, I: +2),
    new ("ElectricCharge", L: 0, M: 0, T: +1, I: +1),
    new ("ElectricConductance", L: -2, M: -1, T: +3, I: +2),
    new ("ElectricConductivity", L: -3, M: -1, T: +3, I: +2),
    new ("ElectricCurrent", L: 0, M: 0, T: 0, I: +1),
    new ("ElectricFieldStrength", L: +1, M: +1, T: -3, I: -1),
    new ("ElectricFluxDensity", L: 0, M: 0, T: +1, I: +1),
    new ("ElectricIndactance", L: +2, M: +1, T: -2, I: -2),
    new ("ElectricResistance", L: +2, M: +1, T: -3, I: -2),
    new ("ElectricVoltage", L: +2, M: +1, T: -3, I: -1),
    new ("Energy", L: +2, M: +1, T: -2),
    new ("Force", L: +1, M: +1, T: -2),
    new ("Frequency", L: 0, M: 0, T: -1),
    new ("HeatCapacity", L: +2, M: +1, T: -2, Th: -1),
    new ("Length", L: +1, M: 0, T: 0),
    new ("Luminance", L: -2, J: +1),
    new ("LuminousFlux", J: +1),
    new ("LuminousIntensity", J: +1),
    new ("MagneticFieldStrength", L: 0, M: 0, T: -1, I: +1),
    new ("MagneticFlux", L: +2, M: +1, T: -2, I: -1),
    new ("MagneticFluxDensity", M: +1, T: -2, I: -1),
    new ("Mass", M: +1),
    new ("MassFlowRate", M: +1, T: -1),
    new ("Momentum", L: +1, M: +1, T: -1),
    new ("Power", L: +2, M: +1, T: -3),
    new ("Pressure", L: -1, M: +1, T: -2),
    new ("SolidAngle"),
    new ("SpatialFrequency", L: -1),
    new ("SpecificHeatCapacity", L: +2, T: -2, Th: -1),
    new ("Speed", L: +1, T: -1),
    new ("SubstanceAmount", N: +1),
    new ("Temperature", Th: +1),
    new ("Time", T: +1),
    new ("Torque", L: +2, M: +1, T: -2),
    new ("Volume", L: +3),
];
#>
public partial class QuantityTest
{
    public static partial TheoryData<IQuantity, (int L, int M, int T, int I, int Th, int N, int J)> MetadataTestCases()
        => new () {
<#  foreach(var (name, l, m, t, i, th, n, j) in metadataTestCases) { #>
            { default(Q<#=name#>), (<#=l#>, <#=m#>, <#=t#>, <#=i#>, <#=th#>, <#=n#>, <#=j#>) },
            { default(Q<#=name#><decimal>), (<#=l#>, <#=m#>, <#=t#>, <#=i#>, <#=th#>, <#=n#>, <#=j#>) },
<#  } #>
        };
}
<#+
public record DimensionMetadata(string Name, int L = 0, int M = 0, int T = 0, int I = 0, int Th = 0, int N = 0, int J = 0)
{
    public string Name { get; } = Name;
    public int L { get; } = L;
    public int M { get; } = M;
    public int T { get; } = T;
    public int I { get; } = I;
    public int Th { get; } = Th;
    public int N { get; } = N;
    public int J { get; } = J;
}

#>